body{
    margin: 0;
    padding: 0;
    background: lightcoral;
}
#password{
    background-color: aqua;
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
    font-size: 200px;
    color: rgb(192, 107, 4);
    font-family: "Playfair" , Arial, sans-serif;
    
}
#button-gen{
background-color: rgb(95, 212, 212);
margin: 80px 800px;
height: 60px;
width: 300px;
font-family:"Playfair" , Arial, sans-serif;
font-size: large;
border-radius: 20px;
transition-duration: 0.4s;
box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);


}
#button-gen:hover{
background-color: white;
color: rgb(24, 105, 105);
border-style: initial;
font-size: x-large;
}